<h2>Welcome to VHS Booking</h2>
<br>

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="checkAvail()" >
    <input matEndDate formControlName="end" placeholder="End date" (dateChange)="checkAvail()" >
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<div *ngIf="dateError" class="alert alert-danger">Please select a date range</div>
<div class="flex-container">
  <div *ngFor="let i of roomDetails" (click)="pickerValue()">

    <mat-card class="hotel-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{i.name}}</mat-card-title>
        <!-- <mat-card-subtitle>

        </mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src={{i.images[0]}} alt="Photo of {{i.name}}">
      <mat-card-content>
          <p>Max Count: {{i.mxcount}}</p>
          <p>Phone Number: {{i.phNumber}}</p>
          <p>Type: {{i.type}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="close-button" mat-button (click)="bookingDetails(i)">Booking Details</button>
        <button class="details-button" mat-button (click)="openDialog(i)">View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<sa-spinner-dotted [enabled]="loaderEnable" styles='{"color": "red"}'></sa-spinner-dotted>
